/* .App {
  text-align: left;
  padding: 3em;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
} */

.chart-container {
  position: relative;
  /* width: 1200px; */
  overflow-x: scroll;
}
